.Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.ContentBtn {
  display: flex;
}

.Title {
  font-size: 40px;
  font-family: "Bevan", serif;
  font-weight: bold;
}

.ContentPara {
  font-family: "Covered By Your Grace", cursive;
  font-size: 19px;
  color: #666;
  margin-bottom: 60px;
}

.btn {
  border-radius: 5px;
  margin-right: 25px;
  border: none;
  background-color: #d80032;
  height: 35px;
  color: white;
  font-weight: bolder;
  margin-bottom: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: #d80032;
}

.SpanText {
  font-size: 19px;
  font-family: "Bevan", serif;
  font-weight: bold;
  margin-right: 25px;
}

.SmallImg {
  align-items: center;
}

.Img {
  cursor: pointer;
  margin-right: 20px;
}
